{
    "parser": "@babel/eslint-parser",
    "plugins": ["react", "@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/eslint-recommended"],
    "ignorePatterns": ["webpack.config.js"],
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
