@font-face {
    font-family: 'Metropolis';
    src: url('../assets/font/Metropolis-ExtraLight.woff2') format('woff2');
    font-weight: 300; /* 300 */
}

@font-face {
    font-family: 'Metropolis';
    src: url('../assets/font/Metropolis-Regular.woff2') format('woff2');
    font-weight: normal; /* 400 */
}

@font-face {
    font-family: 'Metropolis';
    src: url('../assets/font/Metropolis-Medium.woff2') format('woff2');
    font-weight: bold; /* 700 */
}

@font-face {
    font-family: 'Metropolis';
    src: url('../assets/font/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 800;
}

body {
    font-family: 'Metropolis', sans-serif;
}
