@font-face {
    font-family: 'FFClanPro';
    src: url('../assets/font/FFClanProRegular.woff2') format('woff2'),
        url('../assets/font/FFClanProRegular.woff') format('woff');
    font-weight: normal; /* 400 */
}

@font-face {
    font-family: 'FFClanPro';
    /* src: url('../assets/font/FFClanProMedium.TTF'); */
    src: url('../assets/font/FFClanProMedium.woff2') format('woff2'),
        url('../assets/font/FFClanProMedium.woff') format('woff');
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: 'FFClanPro';
    src: url('../assets/font/FFClanProBold.woff2') format('woff2'),
        url('../assets/font/FFClanProBold.woff') format('woff');
    font-weight: bold; /* 700 */
}

body,
button {
    font-family: 'FFClanPro', sans-serif !important;
}
