html {
    box-sizing: border-box;
    font-size: 16px;

    color: white;
    background: rgb(0, 0, 0);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    font-weight: 300;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}
